/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #Ffffff;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 15px;
}

h2 {
    color: #000
    ;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}